/* Handle basic element styling */
p {
  color: red;
}

p {
  color: blue;
}

.special {
  color: yellow;
}

.box {
  margin: 30px;
  width: 10%;
  height: 100px;
  background-color: rebeccapurple;
  transform: rotate(0.8turn);
  padding: 10px 15px 15px 5px;
}

@media (min-width: 30em) {
  body {
    background-color: blue;
  }
}

/* Handle specific elements nested in the DOM */
