h1 {
  color: red;
}

li {
  list-style-type: none;
}

li.special {
  color: orange;
  font-weight: bold;
}

li em {
  color: rebeccapurple;
}

h1 + p {
  font-size: 200%;
}

p span {
  color: yellow;
}
